body{background-color: #556B2F;}
#title{
    padding-top: 60px;
    font-size: 100px;
    font-weight: bold;
    text-align: center;
    text-shadow: 5px 5px #554A68;
    color: #CCBFE3;
}
#sub-title{
    font-size: 37px;
    font-weight: bold;
    text-align: center;
    color: #BBA9D9;
}
#image{
    min-width: 300px;
    max-width: 100%;
}

p,h3{
    font-size:17px;
    text-align: justify;
    color: #DDD4EC;
}
a,figcaption{color: #DDD4EC;}
#img{
    grid-area: img;
    position: relative;
    align-items: center;
    justify-items: center;
}
img {
    width:100%;
    height:auto;
    max-width:500px;
    margin-left:auto;
    margin-right:auto;
    display:block;
  }
#title-div{
    grid-area: title;
}
#tribute{
    grid-area:info;
}
#main{
    margin-top: 60px;
    display:grid;
    grid-template-areas:
    "title img"
    "info img";
}
@media (max-width: 650px){
    #main{
        display:grid;
        grid-template-areas:
        "title"
        "img"
        "info";
    }
    #title{
        padding-top: 20px;
        font-size: 70px;
    }
    #sub-title{
        font-size: 25px;
    }
    #image{
        min-width: 150px;
        max-width: 100%;
    }  
}
@media(max-width: 420){
    #title{
        padding-top: 10px;
        font-size: 60px;
    }
    #sub-title{
        font-size: 20px;
    }
}
@media(max-width: 350){
    #title{
        padding-top: 7px;
        font-size: 20px;
    }
    #sub-title{
        font-size: 17px;
    }
}